<legend>Account Login</legend>
<form action="/login" method="POST" class="login-form">
    <p>Username</p>
    <p><input name="username"></p>
    <p>Password</p>
    <p><input name="password"></p>
    <button type="submit" class="btn">Submit</button>
</form>
<hr />
<p><a href="/signup" class="signup-link">Don't have an account? Sign up now!</a></p>
<p>Forgot your username?</p>
<p>Forgot your password?</p>