{{#if isGuest}}
	<form action="/login" method="POST" class="login-form">
		<legend>Account Login</legend>
	  <label>Username</label>
	  <input type="text" name="username">
	  <label>Password</label>
	  <input type="password" name="password">
	  <label class="checkbox">
	  	<input type="checkbox"> Remember me
	  </label>
	  <button type="submit" class="btn btn-primary">Submit</button>
		<hr />
		<p><a href="/signup" class="signup-link">Don't have an account? Sign up now!</a></p>
		<p>Forgot your username?</p>
		<p>Forgot your password?</p>
	</form>
{{/if}}