//
// Build
// --------------------------------------------------

#build {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 3;
    .clearfix()
}

#build .item {
    position: relative;
    float: left;
    cursor: pointer;
    border-radius: 50%;
    border: 1px groove #CCCCCC;
    width: 100px;
    height: 100px;
    background-image: url("../geometries/towers/Laser Tower.png");
}

#build .item .price {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

#build .description {
    position: absolute;
    bottom: 120px;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1;
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

#build .description.hidden {
    opacity: 0;
    bottom: -1000px;
}

#build .description .damage .name {
    display: inline-block;
    width: 70px;
}

#build .description .damage .value {
    display: inline-block;
    width: 50px;
    text-align: right;
}

#build .description .damage .barometer {
    display: inline-block;
    width: 100px;
    height: 10px;
    margin-left: 20px;
    border: 1px solid #CCCCCC;
}

#build .description .damage .barometer .p0 {
    display: block;
    width: 3px;
    height: 10px;
    background-color: #CC0000;
}

#build .description .damage .barometer .p50 {
    display: block;
    width: 50px;
    height: 10px;
    background-color: #FFCC00;
}

#build .description .damage .barometer .p100 {
    display: block;
    width: 100px;
    height: 10px;
    background-color: #009900;
}
