//
// Build
// --------------------------------------------------

#build {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
}

#build .item {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, rgb(140, 140, 140) 0%, rgb(140, 140, 140) 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, rgb(140, 140, 140), rgb(140, 140, 140));
    background-image: radial-gradient(45px 45px 45deg, circle cover, rgb(140, 140, 140) 0%, rgb(140, 140, 140) 100%);
}
