//
// Chat
// --------------------------------------------------

#chat {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    //width: 350px;
    width: 252px;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #CCCCCC;
    padding: 5px;
    
    &.hidden {
        right: -300px;
    }
    
    .clearfix();
    
    .headline {
        margin: 0 0 5px 0;
    }
    
    .content {
        float: left;
        padding: 5px;
        width: 240px;
        height: 90px;
        font-size: 80%;
        border: 1px solid #CCCCCC;
        overflow-y: scroll;
        
        p {
            margin: 0;
        }
        
        .SYSTEM {
            color: #FF9933;
        }
        
        .USER {
            color: #AAAAAA;
        }
    }
    
    .members {
        display: none;
        float: right;
        padding: 5px;
        width: 80px;
        height: 90px;
        border: 1px solid #CCCCCC;
        font-weight: bold;
    }
    
    .input {
        float: left;
        margin-top: 5px;
        
        input {
            margin: 0;
            width: 180px;
        }
        
        .btn {
            margin-left: 5px;
        }
    }
}