//
// Global
// --------------------------------------------------

body {
    background: #474747;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Trebuchet MS";
    font-size: 14px;
    line-height: normal;
    color: #a0a7ad;
}

h1 {
    color: #666;
}

a {
    color: skyblue
}

canvas {
    pointer-events: none;
}