//
// Menubar
// --------------------------------------------------

#menubar {
    position: absolute;
    top: 10px;
    right: 85px;
    z-index: 3;
}

#menubar ul {
    margin: 0;
}

#menubar ul li {
    display: inline;
}

#menubar .camera {
    background-image: url("../images/game/ui/camera.png");
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    display: inline-block;
    cursor: pointer;
}

#menubar .settings {
    background-image: url("../images/game/ui/settings.png");
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    display: inline-block;
    cursor: pointer;
}