//
// Waves
// --------------------------------------------------

.wave-position {
    cursor: pointer;
    position: absolute;
    width: 64px;
    height: 64px;
    margin-left: -32px;
    margin-top: -32px;
    z-index: 3;
    
    &.hidden {
        left: 0;
        opacity: 0;
    }
}