// Main.less Stylesheets

@import "_mixins.less";
@import "_helpers.less";

* {
	margin:0;
	padding:0;
}

body {
	font-family: Arial,sans-serif;
}

a {
	text-decoration: none;
}

#header {
	color: #fff;
	background-color: #2d2d2d;
	
	a {
		color: #fff;
	}
	
	a:hover {
		color: #fff;
		text-decoration: none;
	}
	
	.inner {
		width:1200px;
		margin:0 auto;
		
		.content {
			margin-top:5px;
			width:1200px;
			
			.home {
				font-weight: bold;
			}
		
			.clearfix
		}
	}
}

#container {
	width:1200px;
	margin:0 auto;
	
	#content {
		width:1100px;
	
		#main {
			float:left;
			width: 800px;
		}
		
		#sidebar {
			float:left;
			width:300px;
		
			#login {
				padding: 10px;
				
				.rounded-corners;
			}
		}
	}
	
	#footer {
		width:1100px;
	}

}