//
// Main CSS Style
// --------------------------------------------------

// Core variables and mixins
@import "_variables.less"; // Modify this for custom colors, font-sizes, etc
@import "_mixins.less";

// CSS Reset
@import "_reset.less";

// Grid system and page structure
@import "_scaffolding.less";
@import "_grid.less";
@import "_layouts.less";

// Base CSS
@import "_forms.less";

// Components: Buttons & Alerts
@import "_buttons.less";

// Components: Nav
@import "_navbar.less";


// MAIN Style

body {
	padding-bottom: 40px;
}

#header {
	color: #fff;
	background-color: #2d2d2d;
	a {
		color: #fff;
	}

	a:hover {
		color: #fff;
		text-decoration: none;
	}

	.inner {
		width: 1200px;
		margin: 0 auto;
		.content {
			margin-top: 5px;
			width: 1200px;
			.home {
				font-weight: bold;
			}

			.clearfix
		}
	}
}


