//
// SceneBar - Environments
// --------------------------------------------------

#scenebar-environments .tree {
	height: 33px;
	width: 300px;
	margin-bottom: 0;
}

#scenebar-environments .list {
	height: 33px;
	width: 300px;
	margin-bottom: 0;
}