<h2>About HeroWar</h2>
<div class="row">
	<div class="span4">
		<h3>Free 2 Play</h3>
		<p>HeroWar is completely free to play. Enjoy without monthly payments. Download now for free.
	</div>
	<div class="span4">
		<h3>Play Together</h3>
		<p>Play in epic wars together with hundreds of players and mess with the best.
	</div>
	<div class="span4">
		<h3>Level Up</h3>
		<p>Every battle will let you get stronger. Once you reach level 30 go in competive play and mess with the best players on earth.</p>
	</div>
</div>