<div class="container">
	<h1>HeroWar</h1>
	<p>Online tower defense game free to play.</p>
	<p><a href="{{#if isGuest}}/signup{{else}}/play{{/if}}" class="btn btn-primary btn-large {{#if isGuest}}signup{{else}}play{{/if}}-link">Play now</a></p>
</div>