<form class="form-horizontal">
	{{#unless isNew}}
		<div class="control-group">
			<label class="control-label" for="inputId">#</label>
			<div class="controls">
				<input type="text" id="inputId" name="id" placeholder="Name" disabled>
			</div>
		</div>
	{{/unless}}
	<div class="control-group">
		<label class="control-label" for="inputName">Name</label>
		<div class="controls">
			<input type="text" id="inputName" name="name" placeholder="Name">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputDescription">Description</label>
		<div class="controls">
			<textarea id="inputDescription" name="description" rows="5" placeholder="Description"></textarea>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputTeamSize">Team Size</label>
		<div class="controls">
			<select id="inputTeamSize" name="teamSize">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{{#if isNew}}Create{{else}}Save{{/if}}</button>
		<button type="submit" class="btn cancel-button">Cancel</button>
	</div>
</form>