<div class="container lazy-content">
	<div class="headline">
		<h2>New Map</h2>
	</div>
	<form class="form-horizontal signup-form">
			<div class="control-group">
				<label class="control-label" for="inputName">Name</label>
				<div class="controls">
	    		<input type="text" id="inputName" name="name" placeholder="Name">
	    	</div>
	    </div>
			<div class="control-group">
				<label class="control-label" for="inputDescription">Description</label>
				<div class="controls">
	    		<input type="text" id="inputDescription" name="description" placeholder="Description">
	    	</div>
	    </div>
	    <div class="form-actions">
	    	<button type="submit" class="btn btn-primary save-button">Save</button>
	    	<button type="submit" class="btn cancel-button">Cancel</button>
	    </div>
	</form>
</div>

<footer class="footer" data-view="views/footer"></footer>