{{#each []}}
	<td>{{this}}</td>
{{/each}}
<td>
	<img src="/assets/images/admin/edit.gif" class="link edit-link" /> 
	<img src="/assets/images/admin/delete.gif" class="link delete-link" />
	<img src="/assets/images/admin/editor.png" class="link editor-link" />
</td>