<thead>
	<tr>
		<th>#</th>
		<th>Username</th>
		<th>Email</th>
		<th>Actions</th>
	</tr>
</thead>
<tbody>
	{{#each []}}
		<tr class="row-{{id}}" data-view="views/users/tableEntry" data-model="{{id}}"></tr>
	{{/each}}		
</tbody>