<th>{{id}}</th>
<th>{{username}}</th>
<th>{{email}}</th>
<th>
	<img src="/assets/images/admin/edit.gif" class="link edit-link" /> 
	<img src="/assets/images/admin/delete.gif" class="link delete-link" />
</th>