<div class="top">
	<span class="level">1</span>
	<span class="name">{{username}}</span>
	<span class="credits">$ 0</span>
</div>
<div class="exp">

</div>
<div class="nav">
	<ul>
		<li>HOME</li>
		<li class="active">PLAY</li>
		<li>SOCIAL</li>
	</ul>
</div>