<p class="headline">Chat</p>
<div class="content">
	{{#each []}}
		<p class="{{layout}}">{{message}}</p>
	{{/each}}
</div>
<div class="members">
	<p>MEMBERS</p>
</div>
<div class="input">
	<input type="text" placeholder="Write a massage...">
	<a class="btn send">Send</a>
</div>