<p class="headline">Chat</p>
<div class="content">
	{{#each []}}
		{{message}}
	{{/each}}
</div>
<div class="members">
	<p>MEMBERS</p>
</div>
<div class="input">
	<input type="text">
	<a class="btn send">Send</a>
</div>