<p class="headline">Debug Infos</p>
<div id="enemies" data-view="views/enemies"></div>
<div id="mouse" data-view="views/mouse"></div>
<div id="scene" data-view="views/scene"></div>
<div id="viewports" data-view="views/viewports"></div>