<div id="waves" data-view="views/waves"></div>
<div id="enemies" data-view="views/enemies"></div>
<div id="mouse" data-view="views/mouse"></div>
<div id="viewports" data-view="views/viewports"></div>