<div class="header">Settings</div>
<div class="body">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" data-target="#pr-general">General</a>
		<li><a data-toggle="tab" data-target="#pr-video">Video</a>
		<li><a data-toggle="tab" data-target="#pr-sound">Sound</a>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="pr-general" data-view="views/settings/general"></div>
		<div class="tab-pane" id="pr-video" data-view="views/settings/video">Video</div>
		<div class="tab-pane" id="pr-sound" data-view="views/settings/sound">Sound</div>
	</div>
</div>
<div class="footer">
	<button class="btn apply">Apply</button>
	<button class="btn btn-primary save">OK</button>
	<button class="btn cancel">Cancel</button>
</div>