{{#each []}}
	<div>Viewport</div>
	<div>Position X: {{position.[0]}}</div>
	<div>Position Y: {{position.[1]}}</div>
	<div>Position Z: {{position.[2]}}</div>
	<div>Rotation X: {{rotation.[0]}}&deg;</div>
	<div>Rotation Y: {{rotation.[1]}}&deg;</div>
	<div>Rotation Z: {{rotation.[2]}}&deg;</div>
{{/each}}