{{#each []}}
	<div>Camera</div>
	<div>Type: {{camera.typeName}}</div>
	<div>Position {{camera.position.[0]}} | {{camera.position.[1]}} | {{camera.position.[2]}}</div>
	<div>Rotation {{camera.rotation_deg.[0]}}&deg; | {{camera.rotation_deg.[1]}}&deg; | {{camera.rotation_deg.[2]}}&deg;</div>
{{/each}}