<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Save Map</h3>
</div>
<div class="modal-body">
	{{#if isValid}}
		<p>The map was saved successfully.</p>
	{{else}}
		<p>Please fix the following errors before you can save:</p>
		{{#each errors}}
			<p class="error">- {{this}}</p>
		{{/each}}
	{{/if}}
</div>
<div class="modal-footer">
	<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Back</button>
</div>