<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>New empty map</h3>
</div>
<div class="modal-body">
	<p>Do you want to override the current map with a new empty map?</p>
</div>
<div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>
	<button class="btn btn-primary">Create</button>
</div>