<div class="sidebar-panel-headline">Environment</div>
<div class="sidebar-panel-content">
	<div data-view="views/sidebar/environmentCategories"></div>
	<div data-view="views/sidebar/environmentGeometries"></div>
</div>