<div class="sidebar-panel-headline">Environment</div>
<div class="sidebar-panel-content">
	<p>Category:</p>
	<div class="tree" data-view="views/util/tree"></div>
	<p>Models:</p>
	<div class="tree"></div>
</div>