<div class="sidebar-panel-headline">Environment</div>
<div class="sidebar-panel-content">
	<div id="sidebar-environment-list" class="list" data-view="views/util/list" data-entity="environmentsStatic"></div>
	<button id="sidebar-environment-remove" class="btn" type="button">Remove</button>
</div>