<div class="sidebar-panel-headline">Material Properties</div>
<div class="sidebar-panel-content">
	<ul class="nav nav-tabs">
		<li {{#if isActiveTabBasis}}class="active"{{/if}}><a data-toggle="tab" data-target="#mp-basis">Basis</a>
		<li {{#if isActiveTabColor}}class="active"{{/if}}><a data-toggle="tab" data-target="#mp-color">Color</a>
		<li {{#if isActiveTabTexture}}class="active"{{/if}}><a data-toggle="tab" data-target="#mp-texture">Texture</a>
	</ul>
	<div class="tab-content">
		<div class="tab-pane {{#if isActiveTabBasis}}active{{/if}}" id="mp-basis">
			<div class="sidebar-headline">Basis Settings</div>
			<div>
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="mp-basis-name">Name</label>
						<div class="controls">
							<input type="text" id="mp-basis-name" class="input-medium" name="mp-basis-name" placeholder="Name" value="{{name}}">
						</div>
						
						<label class="control-label" for="mp-basis-transparent">Transparency</label>
						<div class="controls">
							<input type="checkbox" id="mp-basis-transparent" name="mp-basis-transparent" {{#if transparent}}checked="checked"{{/if}}">
						</div>
						
						<label class="control-label" for="mp-basis-opacity">Opacity</label>
						<div class="controls">
							<input type="text" id="mp-basis-opacity" class="input-medium" name="mp-basis-opacity" placeholder="1" value="{{opacity}}">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="tab-pane {{#if isActiveTabColor}}active{{/if}}" id="mp-color">
			<div class="sidebar-headline">Color Settings</div>
			<div>
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="mp-color-color">Color</label>
						<div class="controls">
							<input type="color" id="mp-color-color" name="mp-color-color" value="{{color}}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="mp-color-nocolor">No Color</label>
						<div class="controls">
							<input type="checkbox" id="mp-color-nocolor" name="mp-color-nocolor" {{#if nocolor}}checked="checked"{{/if}}>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="tab-pane {{#if isActiveTabTexture}}active{{/if}}" id="mp-texture">
			<div class="sidebar-headline">Texture Settings</div>
			<div>
				{{#each textures}}
					<div class="mp-texture" data-view="views/sidebar/materialTexture" data-model="{{this}}"></div>
				{{/each}}
			</div>
		</div>
	</div>
</div>