<div class="sidebar-panel-headline">Material Properties</div>
<div class="sidebar-panel-content">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#mp-basis" data-toggle="tab">Basis</a>
		<li><a href="#mp-color" data-toggle="tab">Color</a>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="mp-basis">
			<div class="sidebar-headline">Basis Settings</div>
			<div>
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="mp-basis-name">Name</label>
						<div class="controls">
							<input type="text" id="mp-basis-name" class="input-medium" name="mp-basis-name" placeholder="Name" value="{{name}}">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="tab-pane" id="mp-color">
			<div class="sidebar-headline">Color Settings</div>
			<div>
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="mp-color-sel">Color</label>
						<div class="controls">
							<input type="color" id="mp-color-sel" name="mp-color-sel" value="{{color}}">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>