<div class="sidebar-panel-headline">Object Properties</div>
<div class="sidebar-panel-content">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#op-basis" data-toggle="tab">Basis</a>
		<li><a href="#op-coords" data-toggle="tab">Coords.</a>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="op-basis">
			<div class="sidebar-headline">Basis Settings</div>
			<div>
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="inputId">ID</label>
						<div class="controls">
							<input type="text" id="inputId" class="input-medium" name="id" placeholder="Id" value="{{id}}" disabled>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputHeadline">Name</label>
						<div class="controls">
							<input type="text" id="inputHeadline" class="input-medium" name="headline" placeholder="Name" value="{{name}}" disabled>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputVisible">Visible</label>
						<div class="controls">
							<input type="checkbox" id="inputVisible" name="visible" value="true">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="tab-pane" id="op-coords">
			<div class="sidebar-headline">Coordinates</div>
			<span>Nothing here...</span>
		</div>
	</div>
</div>