<div class="sidebar-panel-headline">Object Properties</div>
<div class="sidebar-panel-content">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#op-basis" data-toggle="tab">Basis</a>
		<li><a href="#op-coords" data-toggle="tab">Coords.</a>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="op-basis">
			<div class="sidebar-headline">Basis Settings</div>
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="inputName">Name</label>
					<div class="controls">
						<input type="text" id="inputName" class="input-medium" name="name" value="{{name}}" disabled>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputVisible">Visible</label>
					<div class="controls">
						<input type="checkbox" id="inputVisible" name="visible" value="true">
					</div>
				</div>
			</form>
		</div>
		<div class="tab-pane" id="op-coords">
			<div class="sidebar-headline">Coordinates</div>
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="inputPositionX">P.X</label>
					<div class="controls">
						<input type="text" id="inputPositionX" name="positionX" value="{{position.x}}">
					</div>
					<label class="control-label" for="inputScaleX">S.X</label>
					<div class="controls">
						<input type="text" id="inputScaleX" name="scaleX" value="{{scale.x}}">
					</div>
					<label class="control-label" for="inputRotationX">R.X</label>
					<div class="controls">
						<input type="text" id="inputRotationX" name="rotationX" value="{{rotation.x}}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPositionY">P.Y</label>
					<div class="controls">
						<input type="text" id="inputPositionY" name="positionY" value="{{position.y}}">
					</div>
					<label class="control-label" for="inputScaleY">S.Y</label>
					<div class="controls">
						<input type="text" id="inputScaleY" name="scaleY" value="{{scale.y}}">
					</div>
					<label class="control-label" for="inputRotationY">R.Y</label>
					<div class="controls">
						<input type="text" id="inputRotationY" name="rotationY" value="{{rotation.y}}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPositionZ">P.Z</label>
					<div class="controls">
						<input type="text" id="inputPositionZ" name="positionX" value="{{position.z}}">
					</div>
					<label class="control-label" for="inputScaleZ">S.Z</label>
					<div class="controls">
						<input type="text" id="inputScaleZ" name="scaleZ" value="{{scale.z}}">
					</div>
					<label class="control-label" for="inputRotationZ">R.Z</label>
					<div class="controls">
						<input type="text" id="inputRotationZ" name="rotationZ" value="{{rotation.z}}">
					</div>
				</div>
			</form>			
		</div>
	</div>
</div>