<div class="sidebar-panel-headline">Pathing</div>
<div class="sidebar-panel-content">
	<div id="sidebar-pathing-list" class="list" data-view="views/util/list" data-entity="db/paths"></div>
	<button id="sidebar-pathing-create" class="btn" type="button">Create</button>
	<button id="sidebar-pathing-remove" class="btn" type="button">Remove</button>
</div>