<div class="sidebar-panel-headline">Pathing Properties</div>
<div class="sidebar-panel-content">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#pp-basis" data-toggle="tab">Basis</a>
		<li><a href="#pp-waypoints" data-toggle="tab">Waypoints</a>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="pp-basis">
			<div class="sidebar-headline">Basis Settings</div>
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="inputName">Name</label>
					<div class="controls">
						<input type="text" id="inputName" class="input-medium" name="name" value="{{name}}">
					</div>
				</div>
			</form>
		</div>
		<div class="tab-pane" id="pp-waypoints">
			<div class="sidebar-headline">Waypoints</div>
			<div id="sidebar-waypoint-list" class="list" data-view="views/sidebar/pathingWaypoints"></div>
			<button id="sidebar-waypoint-create" class="btn" type="button">Create</button>
		</div>
	</div>
</div>