<div class="sidebar-panel-headline">Scene Explorer</div>
<div class="sidebar-panel-content">
	<div class="scenegraph-tree">
		<div class="scenegraph-tree-world active" data-type="world"><img src="assets/images/editor/world.png" /><span>World</span></div>
		<div class="scenegraph-tree-terrain" data-type="terrain"><img src="assets/images/editor/terrain.jpg" /><span>Terrain</span></div>
		<div class="scenegraph-tree-folder scenegraph-tree-environment" data-type="environment"><img src="assets/images/editor/folder.png" /><span>Environment</span></div>
		<div class="scenegraph-tree-folder scenegraph-tree-pathing" data-type="pathing"><img src="assets/images/editor/folder.png" /><span>Pathing</span></div>
	</div>
</div>