<div class="sidebar-panel-headline">Scene Explorer</div>
<div class="sidebar-panel-content">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#scenegraph" data-toggle="tab">Scenegraph</a>
		<li><a href="#map-properties" data-toggle="tab">Map Properties</a>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="scenegraph">
			<div class="sidebar-headline">Scenegraph</div>
			<div class="scenegraph-tree"></div>
		</div>
		<div class="tab-pane" id="map-properties">
			<div class="sidebar-headline">Map Properties</div>
			<div>
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="inputTitle">Title</label>
						<div class="controls">
							<input type="text" id="inputTitle" class="input-medium" name="title">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputDescription">Description</label>
						<div class="controls">
							<textarea rows="5" id="inputDescription" class="input-medium" name="description"></textarea>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>