<div class="sidebar-panel-headline">Terrain Properties</div>
<div class="sidebar-panel-content">
	<p><b>Warning:</b> Changing terrain properties will result in generating a complete new terrain.</p>
	<div class="sidebar-headline">Size</div>
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="inputWidth">Width</label>
			<div class="controls">
				<input type="text" id="inputWidth" name="width" value="{{terrain.width}}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputHeight">Height</label>
			<div class="controls">
				<input type="text" id="inputHeight" name="height" value="{{terrain.height}}">
			</div>
		</div>
	</form>
	<div class="sidebar-headline">Options</div>
	<form id="terrain-options-form" class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="inputSmoothness">Smoothness</label>
			<div class="controls">
				<input type="text" id="inputSmoothness" name="smoothness" value="{{terrain.smoothness}}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputZScale">Z-Scale</label>
			<div class="controls">
				<input type="text" id="inputZScale" name="zScale" value="{{terrain.zScale}}">
			</div>
		</div>
		<button id="randomizeTerrain" class="btn" type="button">Randomize</button>
	</form>
	<div class="sidebar-headline">Wireframe</div>
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="inputWireframe">Active</label>
			<div class="controls">
				<input type="checkbox" id="inputWireframe" name="wireframe" {{#if terrain.wireframe}}checked="checked"{{/if}}>
			</div>
		</div>
	</form>
	<!--
	<div class="sidebar-headline">Materials</div>
	<div>
		{{! #each materials}}
			<div class="mm-material" data-view="views/sidebar/terrainMaterial" data-model="{{this}}"></div>
		{{! /each}}
	</div>
	-->
</div>