<div class="sidebar-panel-headline">Waves</div>
<div class="sidebar-panel-content">
	<div id="sidebar-waves-list" class="list" data-view="views/util/list" data-entity="db/waves"></div>
	<button id="sidebar-waves-create" class="btn" type="button">Create</button>
	<button id="sidebar-waves-remove" class="btn" type="button">Remove</button>
</div>