<div class="hero" data-view="views/home/hero"></div>

<div class="container">
	<div class="news" data-view="views/home/news"></div>
	<div class="about" data-view="views/home/about"></div>
</div>

<footer class="footer" data-view="views/footer"></footer>