<div class="container">
	<div class="head" data-view="views/play/head"></div>
	<div class="panel map-select" data-view="views/play/mapSelect"></div>
	<div class="panel matches-recent" data-view="views/play/matchesRecent"></div>
</div>

<footer class="footer" data-view="views/footer"></footer>