<div class="container">
	<div data-view="views/login/large" />
	<form action="/signup" method="POST" class="form-horizontal signup-form">
		<fieldset>
			<legend>Join Now</legend>
			<div class="control-group">
				<label class="control-label" for="inputUsername">Username</label>
				<div class="controls">
	    		<input type="text" id="inputUsername" name="username" placeholder="Username">
	    	</div>
	    </div>
			<div class="control-group">
				<label class="control-label" for="inputPassword">Password</label>
				<div class="controls">
	    		<input type="password" id="inputPassword" name="password" placeholder="Password">
	    	</div>
	    </div>
			<div class="control-group">
				<label class="control-label" for="inputEmail">Email</label>
				<div class="controls">
	    		<input type="text" id="inputEmail" name="email" placeholder="Email">
	    	</div>
	    </div>
			<div class="control-group">
	    	<div class="controls">
		    	<label class="checkbox">
		    		<input type="checkbox" name="newsletter" value="true"> Sign me up for the Newsletter
		    	</label>
		    	<button type="submit" class="btn btn-large btn-primary">Submit</button>
		   	</div>
		  </div>
		</fieldset>
	</form>
</div>

<footer class="footer" data-view="views/footer"></footer>