<fieldset>
	<legend>Login</legend>
	<p>Do you have an account on these sites? Click the logo to login with it here:</p>
	<div class="providers">
		<a class="connect connect-facebook" href="/login/facebook">
			<img src="/assets/images/site/connect/facebook_large.gif" />
		</a>
		<a class="connect connect-google" href="/login/google">
			<img src="/assets/images/site/connect/google_large.jpg" />
		</a>
		<a class="connect connect-twitter" href="/login/twitter">
			<img src="/assets/images/site/connect/twitter_large.png" />
		</a>
	</div>
</fieldset>