<a class="connect connect-facebook" href="/login/facebook">
	<img src="/assets/images/site/connect/facebook.gif" />
</a>
<a class="connect connect-google" href="/login/google">
	<img src="/assets/images/site/connect/google.png" />
</a>
<a class="connect connect-twitter" href="/login/twitter">
	<img src="/assets/images/site/connect/twitter.png" />
</a>