<div class="login">
	{{#if isFetched}}
		{{#if isGuest}}
			<a class="btn login-link">Login</a>
			<div class="tooltip login-tooltip" data-view="views/header/login"></div>
			<div class="login-small" data-view="views/login/small"></div>
		{{/if}}
		{{#if isUser}}
			<a class="btn logout-link">Logout</a>
		{{/if}}
	{{/if}}
</div>