//
// List
// --------------------------------------------------

.list {
	height: 150px;
	margin-bottom: 5px;
	overflow-y: auto;
	border: 1px solid #a0a7ad;
	padding: 5px;
}

.list .loading {
	margin-top: 20px;
}

.list div {
	cursor: pointer;
}

.list .active {
	background-color: #6b6b6b;
}