//
// Sidebar
// --------------------------------------------------

#sidebar {
	position: absolute;
	width: 300px;
	top: 30px;
	right: 0px;
    bottom: 0px;
	overflow: visible;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #a0a7ad;	
}

.sidebar-inner {
	height: 100%;
  background-color: #474747;
  .box-shadow(0 1px 4px rgba(0,0,0,.065));

  // Prevent floats from breaking the navbar
  .clearfix();
}

.sidebar-headline {
	margin-bottom: 5px;
	padding-left: 5px;
	background-color: #333333;
	font-weight: bold;
}

.sidebar-panel {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #a0a7ad;	
}

.sidebar-panel-headline {
	padding-left: 5px;
	background-color: #333333;
	line-height: 28px;
	font-weight: bold;
}

.sidebar-panel-content {
	padding: 5px;
	font-size: 12px;
}

#sidebar .hidden {
	display: none;
}

// COMPONENT: NAV

#sidebar .nav {
	margin-bottom: 5px;
}

// COMPONENT: TABS

#sidebar .nav-tabs {
	border-bottom: none;
}

#sidebar .nav-tabs > li > a {
    cursor: pointer;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: 0px;
	.border-radius(0 0 0 0);
}

#sidebar .nav-tabs > li > a {
  color: #a0a7ad;
  background-color: #6b6b6b;
  border: 1px solid #333333;
  border-left-width: 0px;
}

#sidebar .nav-tabs > li:first-child > a {
	border-left-width: 1px;
}

#sidebar .nav-tabs > .active > a, 
#sidebar .nav-tabs > .active > a:hover, 
#sidebar .nav-tabs > .active > a:focus {
    cursor: default;
	color: #333333;
	background-color: #8da7cc;
	border: 1px solid #333333;
	border-left-width: 0px;
}

#sidebar .nav-tabs > .active:first-child > a, 
#sidebar .nav-tabs > .active:first-child > a:hover, 
#sidebar .nav-tabs > .active:first-child > a:focus {
	border-left-width: 1px;
}

// COMPONENT: FORM

#sidebar form {
	margin: 0 0 10px;
}

#sidebar .form-horizontal {
	.control-label	{
		width: 100px;
		text-align: left;
		padding-top: 0px;
	}
	.controls {
		margin-left: 105px;
	}
}

#sidebar textarea, 
#sidebar input[type="text"], 
#sidebar input[type="checkbox"] {
	background-color: #333333;
	border: 1px solid #a0a7ad;
	padding: 0px 6px;
	.border-radius(0 0 0 0);
}

#sidebar input[type="color"] {
	background-color: #474747;
	border-width: 0px;
	padding: 0px;
	width: 75px;
}

#sidebar label {
	margin-bottom: 0px;
}

#sidebar .form-horizontal .control-group {
	margin-bottom: 5px;
}

#sidebar #sidebar-properties-terrain {
	p {
		text-align: center;
	}	
	.form-horizontal {
		input[type="text"] {
			width: 37px;
		}
		.control-label	{
			width: 75px;
		}
		.controls {
			margin-left: 80px;
		}
		.fd-slider {
			width: 145px;
		}
	}
}

#sidebar #terrain-options-form {
	.clearfix
}

#sidebar #randomizeTerrain {
	float: right;
}

#sidebar .mp-texture {
	cursor: pointer;
	width: 75px;
	height: 60px;
	background-color: #a0a7ad;
	border: 1px solid #333333;
	color: #333333;
	float: left;
	margin-left: 10px;
	overflow: hidden;
	
	&:first-child {
		margin-left: 0px;
	}
}

#sidebar .mp-texture.active {
	background-color: #ff9933;
}

#sidebar .mp-texture-prev {
	width: 75px;
	height: 40px;
	background-color: #474747;
}

#sidebar .mp-texture span {
	font-size: 9px;
	margin-left: 5px;
	margin-top: 5px;
}
