//
// Sidebar
// --------------------------------------------------

.sidebar {
	position: absolute;
	width: 300px;
	top: 40px;
	bottom: 0px;
	overflow: visible;
}

.sidebar-left {
	left: 0px;
}

.sidebar-right {
	right: 0px;
}

.sidebar-inner {
	height: 100%;
  padding: 5px;
  #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
  border: 1px solid @navbarBorder;
  .border-radius(@baseBorderRadius);
  .box-shadow(0 1px 4px rgba(0,0,0,.065));

  // Prevent floats from breaking the navbar
  .clearfix();
}