{{#if id}}
	{{#each children}}
		<div class="item level-one" data-value="{{id}}"><span>{{name}}</span></div>
		{{#if children}}
			{{#each children}}
				<div class="item level-two" data-value="{{id}}"><span>{{name}}</span></div>
				{{#if children}}
					{{#each children}}
						<div class="item level-three" data-value="{{id}}"><span>{{name}}</span></div>
					{{/each}}
				{{/if}}
			{{/each}}
		{{/if}}
	{{/each}}
{{/if}}