@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/editor.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
@for(jsFile <- Application.getJsFilesEditor()) {
<script src="@routes.Assets.at(jsFile)" type="text/javascript"></script>
}
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<ul class="nav">
				<li><a href="#">File</a></li>
				<li class="dropdown">
					<a href="#"  data-toggle="dropdown">Add</a>
					<ul class="dropdown-menu" role="menu">
						<li><a tabindex="-1" href="#">Item 1</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="sidebar sidebar-right">
		<div class="sidebar-inner">
			<div class="panel">
				<span>Scene</span>
			</div>
			<div class="panel">
				<span>Mesh</span>
			</div>
		</div>
	</div>
	<div id="main"></div>
	@content
</body>
</html>
