@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/editor.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
@for(jsFile <- Application.getJsFilesEditor()) {
<script src="@routes.Assets.at(jsFile)" type="text/javascript"></script>
}
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<ul class="nav">
				<li><a href="#">File</a></li>
				<li class="dropdown">
					<a href="#"  data-toggle="dropdown">Add</a>
					<ul class="dropdown-menu" role="menu">
						<li><a tabindex="-1" href="#">Item 1</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="sidebar sidebar-right">
		<div class="sidebar-inner">
			<div class="panel">
				<div class="sidebar-headline">Scene Explorer</div>
				<ul class="nav nav-tabs">
					<li class="active"><a href="#scenegraph" data-toggle="tab">Scenegraph</a>
					<li><a href="#map-settings" data-toggle="tab">Map Settings</a>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="scenegraph">
						<div class="sidebar-headline">Scenegraph</div>
						<div class="tree"></div>
					</div>
					<div class="tab-pane" id="map-settings">
						<div class="sidebar-headline">Map Settings</div>
						<div>
							<form class="form-horizontal">
								<div class="control-group">
									<label class="control-label" for="inputHeadline">Headline</label>
									<div class="controls">
										<input type="text" id="inputHeadline" class="input-medium" name="headline" placeholder="Headline">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputDescription">Description</label>
									<div class="controls">
										<textarea rows="5" id="inputDescription" class="input-medium" name="description" placeholder="Description"></textarea>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="panel">
				<div class="sidebar-headline">Object Explorer</div>
				<ul class="nav nav-tabs">
					<li class="active"><a href="#basis" data-toggle="tab">Basis</a>
					<li><a href="#coords" data-toggle="tab">Coords.</a>
					<li><a href="#materials" data-toggle="tab">Material</a>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="basis">
						<div class="sidebar-headline">Basis Settings</div>
						<div>
							<form class="form-horizontal">
								<div class="control-group">
									<label class="control-label" for="inputHeadline">Name</label>
									<div class="controls">
										<input type="text" id="inputHeadline" class="input-medium" name="headline" placeholder="Headline">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputVisible">Visible</label>
									<div class="controls">
										<input type="checkbox" id="inputVisible" name="visible" value="true">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="tab-pane" id="coords">
						<div class="sidebar-headline">Coordinates</div>
						<span>Nothing here...</span>
					</div>
					<div class="tab-pane" id="materials">
						<div class="sidebar-headline">Materials</div>
						<span>Nothing here...</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="main"></div>
	@content
</body>
</html>
