@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/game.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
@for(jsFile <- Application.getJsFilesEditor()) {
<script src="@routes.Assets.at(jsFile)" type="text/javascript"></script>
}
</head>
<body>
	<div id="overlay"></div>
	<div id="main"></div>
	@content
</body>
</html>
