<div id="editor-menubar">
	<div class="btn-toolbar">
		<div class="btn-group" id="editor-menubar-history">
			<a class="btn disabled" id="editor-menubar-back" href="#"><i class="icon-back"></i></a>
			<a class="btn disabled" id="editor-menubar-into" href="#"><i class="icon-into"></i></a>
		</div>
		<div class="btn-group" id="editor-menubar-tools">
			<a class="btn active" id="editor-menubar-tool-selection" href="#"><i class="icon-select"></i></a>
			<a class="btn" id="editor-menubar-tool-brush" href="#"><i class="icon-brush"></i></a>
		</div>
	</div>
</div>