<div class="sidebar sidebar-right">
	<div class="sidebar-inner">
		<div class="sidebar-panel">
			<div class="sidebar-panel-headline">Scene Explorer</div>
			<div class="sidebar-panel-content">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#scenegraph" data-toggle="tab">Scenegraph</a>
					<li><a href="#map-properties" data-toggle="tab">Map Properties</a>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="scenegraph">
						<div class="sidebar-headline">Scenegraph</div>
						<div class="scenegraph-tree">
							<div class="scenegraph-tree-world" data-type="world"><img src="assets/images/editor/world.png" /><span>World</span></div>
							<div class="scenegraph-tree-terrain" data-type="terrain"><img src="assets/images/editor/terrain.jpg" /><span>Terrain</span></div>
						</div>
					</div>
					<div class="tab-pane" id="map-properties">
						<div class="sidebar-headline">Map Properties</div>
						<div>
							<form class="form-horizontal">
								<div class="control-group">
									<label class="control-label" for="inputTitle">Title</label>
									<div class="controls">
										<input type="text" id="inputTitle" class="input-medium" name="title">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputDescription">Description</label>
									<div class="controls">
										<textarea rows="5" id="inputDescription" class="input-medium" name="description"></textarea>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="sidebar-properties-world" class="sidebar-panel hidden">
			<div class="sidebar-panel-headline">World Properties</div>
			<div class="sidebar-panel-content">
				Nothing here...
			</div>
		</div>
		<div id="sidebar-properties-terrain" class="sidebar-panel hidden">
			<div class="sidebar-panel-headline">Terrain Properties</div>
			<div class="sidebar-panel-content">
				<p><b>Warning:</b> Changing terrain properties will result in generating a complete new terrain.</p>
				<div class="sidebar-headline">Size</div>
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="inputWidth">Width</label>
						<div class="controls">
							<input type="text" id="inputWidth" class="input-mini" name="width" value="2000">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputHeight">Height</label>
						<div class="controls">
							<input type="text" id="inputHeight" class="input-mini" name="height" value="2000">
						</div>
					</div>
				</form>
				<div class="sidebar-headline">Options</div>
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="inputSmoothness">Smoothness</label>
						<div class="controls">
							<input type="text" id="inputSmoothness" class="input-mini" name="smoothness" value="0.1">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputZScale">Z-Scale</label>
						<div class="controls">
							<input type="text" id="inputZScale" class="input-mini" name="zScale" value="0">
						</div>
					</div>
				</form>
				<div class="sidebar-headline">Wireframe</div>
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="inputWireframe">Active</label>
						<div class="controls">
							<input type="checkbox" id="inputWireframe" name="wireframe" value="true" checked="checked">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id="sidebar-properties-object" class="sidebar-panel hidden">
			<div class="sidebar-panel-headline">Object Properties</div>
			<div class="sidebar-panel-content">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#basis" data-toggle="tab">Basis</a>
					<li><a href="#coords" data-toggle="tab">Coords.</a>
					<li><a href="#materials" data-toggle="tab">Material</a>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="basis">
						<div class="sidebar-headline">Basis Settings</div>
						<div>
							<form class="form-horizontal">
								<div class="control-group">
									<label class="control-label" for="inputHeadline">Name</label>
									<div class="controls">
										<input type="text" id="inputHeadline" class="input-medium" name="headline" placeholder="Headline">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputVisible">Visible</label>
									<div class="controls">
										<input type="checkbox" id="inputVisible" name="visible" value="true">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="tab-pane" id="coords">
						<div class="sidebar-headline">Coordinates</div>
						<span>Nothing here...</span>
					</div>
					<div class="tab-pane" id="materials">
						<div class="sidebar-headline">Materials</div>
						<span>Nothing here...</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>