<div class="container lazy-content">
	<div class="headline">
		<h2>News Overview</h2>
		{{#if isFetched}}
			<img src="/assets/images/loader.gif" />
		{{/if}}
	</div>
	<div data-view="views/news/table"></div>
</div>

<footer class="footer" data-view="views/footer"></footer>