<div class="container lazy-content">
	<div class="headline">
		<h2>New News</h2>
	</div>
	<div data-view="views/news/form" data-type="new"></div>
</div>

<footer class="footer" data-view="views/footer"></footer>