<div class="container">
	<h2>Admin Panel</h2>
	<div class="row admin-menu">
		<div class="span2">
			<img src="assets/images/admin/menu/users.jpg" />
			<p>Users</p>
		</div>
		<div class="span2">
			<img src="assets/images/admin/menu/news.png" />
			<p>News</p>
		</div>	
		<div class="span2">
			<img src="assets/images/admin/menu/maps.png" />
			<p>Maps</p>
		</div>	
		<div class="span2">
			<img src="assets/images/admin/menu/objects.png" />
			<p>Objects</p>
		</div>	
		<div class="span2">
			<img src="assets/images/admin/menu/statistics.png" />
			<p>Statistics</p>
		</div>	
		<div class="span2">
			<img src="assets/images/admin/menu/settings.png" />
			<p>Settings</p>
		</div>	
	</div>
</div>

<footer class="footer" data-view="views/footer"></footer>