<table class="table">
	<thead>
		<tr>
			{{#each tableHeaders}}
				<th>{{this}}</th>
			{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each []}}
			<tr data-view="{{../entryView}}" data-model="{{id}}" data-entity="{{../entity}}" data-fields="{{../tableFields}}"></tr>
		{{else}}
			<tr>
				<td colspan="{{colspan}}">No entries found</td>
			</tr>
		{{/each}}
	</tbody>
</table>
{{#if allowCreate}}
	<button type="submit" class="btn btn-primary create-link">Create</button>
{{/if}}