<div class="container">
	<h2>Users</h2>
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Username</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>1</th>
				<th>CosmosTunes</th>
				<th>ssachtleben@gmail.com</th>
				<th></th>
			</tr>			
		</tbody>
	</table>
</div>

<footer class="footer" data-view="views/footer"></footer>