<div id="sidebar-environment-categories" class="tree" data-view="views/util/tree" data-entity="environmentTree"></div>
<div id="sidebar-environment-geometries" class="list" data-view="views/util/list" data-entity="geometries"></div>