<div class="scenebar-panel">
	<div id="sidebar-environment-categories" class="tree" data-view="views/util/tree" data-entity="environmentTree"></div>
	<div class="headline">Categories</div>
</div>
<div class="scenebar-panel">
	<div id="sidebar-environment-geometries" class="list" data-view="views/util/list" data-entity="geometries"></div>
	<div class="headline">Geometries</div>
</div>