<button class="btn {{#unless isActive}}disabled{{/unless}} {{#if isSelectedTiny}}active{{/if}}" id="scenebar-terrain-brush-small" title="Brush Small Size"><i class="icon-brush-size-small"></i></button>
<button class="btn {{#unless isActive}}disabled{{/unless}} {{#if isSelectedMedium}}active{{/if}}" id="scenebar-terrain-brush-medium" title="Brush Medium Size"><i class="icon-brush-size-medium"></i></button>
<button class="btn {{#unless isActive}}disabled{{/unless}} {{#if isSelectedLarge}}active{{/if}}" id="scenebar-terrain-brush-large" title="Brush Large Size"><i class="icon-brush-size-large"></i></button>
<div class="headline">Texture Brush</div>