<button class="btn {{#if isSelectedMaterial}}active{{/if}}" id="editor-menubar-brush-materials" title="Brush material"><i class="icon-materials"></i></button>
<button class="btn {{#if isSelectedRaise}}active{{/if}}" id="editor-menubar-brush-raise" title="Raise terrain"><i class="icon-raise"></i></button>
<button class="btn {{#if isSelectedDegrade}}active{{/if}}" id="editor-menubar-brush-degrade" title="Degrade terrain"><i class="icon-degrade"></i></button>
<div class="headline">Edit Terrain</div>