<div id="scenebar-terrain-edit" class="scenebar-panel" data-view="views/scenebar/terrainEdit"></div>
<div id="scenebar-terrain-brush" class="scenebar-panel" data-view="views/scenebar/terrainTextureBrush"></div>
<div id="scenebar-terrain-material" class="scenebar-panel" data-view="views/scenebar/terrainTexturing"></div>