<a class="btn" id="scenebar-terrain-brush-small" href="#" title="Brush Small Size"><i class="icon-brush-small"></i></a>
<a class="btn" id="scenebar-terrain-brush-medium" href="#" title="Brush Medium Size"><i class="icon-brush-medium"></i></a>
<a class="btn" id="scenebar-terrain-brush-large" href="#" title="Brush Large Size"><i class="icon-brush-large"></i></a>
<div class="headline">Texture Brush</div>