<button class="btn" id="scenebar-terrain-material-add" title="Add Material"><i class="icon-new"></i></button>
<div id="scenebar-terrain-materials" data-view="views/scenebar/terrainMaterials"></div>
<div class="headline">Terrain Texturing</div>