<a class="btn {{#if isSelectedMaterial}}active{{/if}}" id="editor-menubar-brush-materials" href="#" title="Brush material"><i class="icon-materials"></i></a>
<a class="btn {{#if isSelectedRaise}}active{{/if}}" id="editor-menubar-brush-raise" href="#" title="Raise terrain"><i class="icon-raise"></i></a>
<a class="btn {{#if isSelectedDegrade}}active{{/if}}" id="editor-menubar-brush-degrade" href="#" title="Degrade terrain"><i class="icon-degrade"></i></a>
<div class="headline">Edit Terrain</div>