<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="settings-video-fps">Display FPS</label>
		<div class="controls">
			<input type="checkbox" id="settings-video-fps" name="displayFPS">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="settings-video-texture">Shadows</label>
		<div class="controls">
			<select id="settings-video-shadows" class="input-medium" name="shadowsQuality">
				<option value="0">None</option>
				<option value="1">Low</option>
				<option value="2">Middle</option>
				<option value="3">High</option>
				<option value="4">Ultra</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="settings-video-texture">Texture Detail</label>
		<div class="controls">
			<select id="settings-video-texture" class="input-medium" name="textureQuality">
				<option value="0">None</option>
				<option value="1">Low</option>
				<option value="2">Middle</option>
				<option value="3">High</option>
				<option value="4">Ultra</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="settings-video-shader">Shader Quality</label>
		<div class="controls">
			<select id="settings-video-shader" class="input-medium" name="shaderQuality">
				<option value="0">None</option>
				<option value="1">Low</option>
				<option value="2">Middle</option>
				<option value="3">High</option>
				<option value="4">Ultra</option>
			</select>
		</div>
	</div>
</form>