//
// Main CSS Style
// --------------------------------------------------

// Core variables and mixins
@import "lib/bootstrap/_variables.less"; // Modify this for custom colors, font-sizes, etc
@import "lib/bootstrap/_mixins.less";

// CSS Reset
@import "lib/bootstrap/_reset.less";

// Grid system and page structure
@import "lib/bootstrap/_scaffolding.less";
@import "lib/bootstrap/_grid.less";
@import "lib/bootstrap/_layouts.less";

// Base CSS
@import "lib/bootstrap/_type.less";
@import "lib/bootstrap/_code.less";
@import "lib/bootstrap/_forms.less";
@import "lib/bootstrap/_tables.less";

// Components: common
@import "lib/bootstrap/_dropdowns.less";

// Components: Buttons & Alerts
@import "lib/bootstrap/_buttons.less";

// Components: Nav
@import "lib/bootstrap/_navs.less";
@import "lib/bootstrap/_navbar.less";

// Components: Popovers
@import "lib/bootstrap/_tooltip.less";

// External Libs
@import "lib/_gritter.less";

// Utility classes
@import "lib/bootstrap/_utilities.less"; // Has to be last to override when necessary


// Admin Style

.link {
	cursor:pointer;
}

.admin-menu {
	div {
		text-align:center;
	}
}

.lazy-content {
	.headline {
		img,
		h2 {
			float:left;
		}
		img {
			margin-left:10px;
			margin-top:12px;
			width:30px;			
		}
		
		.clearfix
	}
}

// MAIN Style

body {
	padding-top:40px;
}

.login-form {
	margin:0;
	
	.control-group {
		margin:0;
	}
}

.footer {
	text-align:center;
	padding:30px 0;
	margin-top:70px;
	border-top:1px solid #e5e5e5;
	background-color: #f5f5f5;
}

.loader {
	text-align:center;
	margin-top:70px;
}

.visible {
	opacity: 1;
}