//
// Editor CSS Style
// --------------------------------------------------

// Core variables and mixins
@import "_variables.less"; // Modify this for custom colors, font-sizes, etc
@import "editor/_variables.less";
@import "_mixins.less";

// CSS Reset
@import "_reset.less";

// Grid system and page structure
@import "_scaffolding.less";
@import "_grid.less";
@import "_layouts.less";

// Base CSS
@import "_type.less";
@import "_code.less";
@import "_forms.less";
@import "_tables.less";

// Components: common
@import "_dropdowns.less";

// Components: Buttons & Alerts
@import "_buttons.less";

// Components: Nav
@import "_navs.less";
@import "_navbar.less";

// Components: Popovers
@import "_tooltip.less";

// JQuery Gritter
@import "_gritter.less";

// Admin
@import "editor/_sidebar.less";

// Utility classes
@import "_utilities.less"; // Has to be last to override when necessary

// Editor Style

body {
	background: #555555;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: georgia;
	color: #a0a7ad;
}

canvas {
	pointer-events: none;
}

#main {
	position: absolute;
	right: 300px;
	top: 41px;	
}