//
// Game CSS Style
// --------------------------------------------------
html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #cff;
	text-shadow: 0 0 0.125em #dff;	
	font-family: 'Droid Sans Mono', arial, serif;
}

canvas {
	font-family: Tahoma, sans-serif;
}
