#container {
	width:1200px;
	margin:0 auto;

	#header {
		width:1100px;
		margin:0 auto;
	}
	
	#content {
		width:1100px;
		margin:0 auto;	
	
		#login {
			float: right;
		}
	
	}
	
	#footer {
		width:1100px;
		margin:0 auto;	
	}

}