<a id="fileMapNewEmpty" data-modal="true" href="#"><i class="icon-new"></i></a>
<a id="fileMapOpen" data-modal="true" href="#"><i class="icon-open"></i></a>
<a id="fileMapSave" data-modal="true" href="#"><i class="icon-save"></i></a>
<a id="fileExit" data-modal="true" href="#"><i class="icon-exit"></i></a>
