<div id="editor-menubar">
	<div class="btn-toolbar">
		<div class="btn-group" id="editor-menubar-history">
			<a class="btn disabled" id="editor-menubar-back" href="#"><i class="icon-back"></i></a>
			<a class="btn disabled" id="editor-menubar-into" href="#"><i class="icon-into"></i></a>
		</div>
		<div class="btn-group" id="editor-menubar-tools">
			<a class="btn active" id="editor-menubar-tool-selection" href="#"><i class="icon-select"></i></a>
			<a class="btn dropdown-toggle" id="editor-menubar-tool-brush" data-toggle="dropdown" href="#"><i class="icon-brush"></i></a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a tabindex="-1" id="editor-menubar-brush-tiny" href="#">Tiny</a></li>
				<li><a tabindex="-1" id="editor-menubar-brush-medium" href="#">Medium</a></li>
				<li><a tabindex="-1" id="editor-menubar-brush-large" href="#">Large</a></li>
			</ul>
		</div>
		<div class="btn-group" id="editor-menubar-brush">
			<a class="btn disabled" id="editor-menubar-brush-materials" href="#"><i class="icon-materials"></i></a>
			<a class="btn disabled" id="editor-menubar-brush-raise" href="#"><i class="icon-raise"></i></a>
			<a class="btn disabled" id="editor-menubar-brush-degrade" href="#"><i class="icon-degrade"></i></a>
		</div>
	</div>
</div>