<div class="header">
	{{#unless isMoving}}
		{{#unless isMinimized}}<button type="button" class="minimize"></button>{{/unless}}
		{{#if isMinimized}}<button type="button" class="maximize"></button>{{/if}}
	{{/unless}}
	<span>Log System</span>
</div>
<div class="content">
	{{#each []}}
		<p>{{formattedDate}} {{level}}: {{message}}</p>
	{{/each}}
</div>