<div id="modalFileMapNewEmpty" class="modal hide fade" data-view="views/modal/fileMapNewEmpty"></div>
<div id="modalFileMapOpen" class="modal hide fade" data-view="views/modal/fileMapOpen"></div>
<div id="modalFileMapSave" class="modal hide fade" data-view="views/modal/fileMapSave"></div>
<div id="modalFileExit" class="modal hide fade" data-view="views/modal/fileExit"></div>