<div class="sidebar-panel-headline">Scene Explorer</div>
<div class="sidebar-panel-content">
	<div class="scenegraph-tree">
		<div class="scenegraph-tree-world item active" data-type="world"><span>World</span></div>
		<div class="scenegraph-tree-terrain item" data-type="terrain"><span>Terrain</span></div>
		<div class="scenegraph-tree-folder scenegraph-tree-environment item" data-type="environment"><span>Environment</span></div>
		<div data-view="views/explorer/environment"></div>
		<div class="scenegraph-tree-folder scenegraph-tree-pathing item" data-type="pathing"><span>Pathing</span></div>
		<div data-view="views/explorer/pathing"></div>
		<div class="scenegraph-tree-folder scenegraph-tree-waves item" data-type="waves"><span>Waves</span></div>
		<div data-view="views/explorer/waves"></div>
	</div>
</div>