<ul class="nav nav-tabs">
	<li><a href="#scenebar-skybox" data-toggle="tab">SkyBox</a>
	<li><a href="#scenebar-environments" data-toggle="tab">Environments</a>
	<li class="active"><a href="#scenebar-terrain" data-toggle="tab">Terrain</a>
</ul>
<div class="tab-content">
		<div class="tab-pane" id="scenebar-skybox" data-view="views/scenebar/skybox"></div>
		<div class="tab-pane" id="scenebar-environments" data-view="views/scenebar/environments"></div>
		<div class="tab-pane active" id="scenebar-terrain" data-view="views/scenebar/terrain"></div>
</div>