<div class="sidebar-inner">
	<div id="sidebar-sceneexlorer" class="sidebar-panel" data-view="views/sidebar/sceneExplorer"></div>
	<div id="sidebar-properties-world" class="sidebar-panel" data-view="views/sidebar/worldProperties"></div>
	<div id="sidebar-properties-terrain" class="sidebar-panel hidden" data-view="views/sidebar/terrainProperties"></div>
	<div id="sidebar-properties-object" class="sidebar-panel hidden" data-view="views/sidebar/objectProperties"></div>
	<div id="sidebar-properties-material" class="sidebar-panel hidden" data-view="views/sidebar/materialProperties"></div>
</div>