<select name="model" class="model">
	<option>Choose ...</option>
	{{#each towers}}
 		<option data-id="{{id}}" data-type="{{type}}">{{name}}</option>
 	{{/each}}
	{{#each enemies}}
 		<option data-id="{{id}}" data-type="{{type}}">{{name}}</option>
 	{{/each}}
</select>