<div class="navbar-inner">
	<div class="content">
		<ul class="nav">
			<li class="home">
				<a href="/" class="home-link">HeroWar</a>				
			</li>
		</ul>
		<div class="pull-right">
			Sprache: Deutsch
		</div>
	</div>
</div>