<div id="container">
	<div id="content">
		<div id="main">
			<h2>News</h2>
		
			<h2>About HeroWar</h2>
		</div>
		<div id="sidebar">
			<fieldset data-view="views/home/login"></fieldset>
	    </div>
    </div>
</div>