<div class="hero">
	<div class="container">
		<h1>HeroWar</h1>
		<p>Next generation tower defense easy to play online in your brower.</p>
		<p><a href="/signup" class="btn btn-primary btn-large signup-link">Play now</a></p>
	</div>
</div>

<div class="container">
	<h2>News</h2>
	<div class="news">
		<h3>HeroWar goes in alpha state</h3>
		<span class="details">Posted by	Admin on Saturday, 03/30/2013 - 10:00</span>
		<p>It's time to celebrate. HeroWars open the doors and let the first alpha users join the epic wars.</p>
	</div>
	<h2>About HeroWar</h2>
	<div class="row">
		<div class="span4">
			<h3>Free 2 Play</h3>
			<p>HeroWar is completely free to play. Enjoy without monthly payments. Download now for free.
		</div>
		<div class="span4">
			<h3>Play Together</h3>
			<p>Play in epic wars together with hundreds of players and mess with the best.
		</div>
		<div class="span4">
			<h3>Level Up</h3>
			<p>Every battle will let you get stronger. Once you reach level 30 go in competive play and mess with the best players on earth.</p>
		</div>
	</div>
	
	<div id="content">
		<div id="main">
			<div id="sidebar">
				<fieldset data-view="views/home/login"></fieldset>
	    </div>
	  </div>
	</div>
</div>

<footer class="footer">
	&copy; 2013 CosmosTunes & TimeXtreme - All rights reserved.
</footer>