@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/site.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
        @for(jsFile <- com.herowar.controllers.Application.getJsFilesSite()) {
        	<script src="@routes.Assets.at(jsFile)" type="text/javascript"></script>
       	}
    </head>
    <body>
        @content
    </body>
</html>
